header {
    display: flex; /* Use Flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add padding to header */
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
      
      
}
  
.line{
    position: absolute;
    bottom: 550px;
    left: 0;
    width: 100%; /* Ensure the line spans the full width of the container */
    border-bottom: 2px solid #000; /* Adjust color and thickness as needed */
}


  .header-img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 100px; /* Add margin to the right of the image */
  }
  
  .header-heading {
    margin: 0; /* Remove default margin for h1 */
  }
  