/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/* Layout */
:root {
  --primary: #182A60;
  --error: #FFFFFF;
}

body {
  background: #fafafa;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

header {
  background: #182A60;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.3fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas: 
    "header header header"
    "lookup lookup form-"
    "list list list";
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "lookup"
      "form-"
      "list";
  }
}

/* Form */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.reccs{
  overflow:hidden; 
  overflow-y:scroll;
  height: 300px;
  position:absolute;
  width: 1000px;
  margin-top:200px;
}

.recc-details {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.recc-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.recc-details p {
  margin: 0;
  font-size: 0.9em;
  color: rgb(40, 80, 150);
}

.recc-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* New Form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Varela Round", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}



/* Headers */
.line {
  position: absolute;
  bottom: 550px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #000;
}

/* Header Image */
.header-img {
  width: 150px;
  height: auto;
  margin-right: 100px;
}

.header-heading {
  margin: 0;
}

/* search bar */
.search-bar {
  height: min-content;
}
p.input-text {
  margin-left: 20px;
}

button.input-text {
  margin-left: 20px;
}

.material-symbols-outlined {
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

