.rounded-button {
    border-radius: 22px; /* Adjust the value to control the roundness */
    padding: 12px 22px; /* Adjust padding as needed */
    font-size: 18px;
    background-color: #4CAF50; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove default button focus outline */
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Style for button hover effect */
  .rounded-button:hover {
    background-color: #3f7c9d; /* Darker background color on hover */
  }
  